* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


.sidebar {
    position: fixed;
    width: 210px;
    height: 100vh;
    background-color: rgb(51, 51, 51);
}

.logo {
    width: 90%;
    margin-left: 10px;
}

.menu {
    animation: moveInLeft;
    animation-duration: 1s;

    &_item {
        text-align: center;
        list-style-type: none;
        margin-top: 30px;
    }

    &_item:first-child {
        margin-top: 15px;
    }

    .menu_link {
        position: relative;
        display: inline-block;
        color: rgb(217, 217, 217);
        text-decoration: none;
        width: 100%;
        padding: 15px 0;
        border-right: 0 solid;
        border-radius: 10%;
        border-left: none;
        font-size: 20px;
        font-weight: 400;

        &:hover {
            color: white;
        }
    }

    .main {
        color: rgb(204, 122, 0);
        transition-duration: 0.5s;

        &:hover {
            background-color: rgb(204, 122, 0)
        }
    }

    .gallery {
        color: rgb(92, 0, 230);
        transition-duration: 0.5s;

        &:hover {
            background-color: rgb(92, 0, 230);
        }

        &:before {
            content: url(../images/gallery.png);
            position: absolute;
            left: 40px;
        }
    }

    .video {
        color: rgb(255, 77, 77);
        transition-duration: 0.5s;

        &:hover {
            background-color: rgb(255, 77, 77);
        }
    }

    .politics {
        color: rgb(128, 255, 170);
        transition-duration: 0.5s;

        &:hover {
            background-color: rgb(128, 255, 170);
        }

        &:before {
            content: url(../images/politics.png);
            position: absolute;
            left: 35px;
        }
    }

    .streams {
        color: rgb(255, 128, 179);
        transition-duration: 0.5s;

        &:hover {
            background-color: rgb(255, 128, 179);
        }

        &:before {
            content: url(../images/black.png);
            position: absolute;
            left: 46px;
        }
    }

}

.container {
    padding: 15px;
}

.content {
    margin-left: 210px;
    background-color: rgb(217, 217, 217);
    width: 100wh;
    min-height: 100vh;
}

.header {
    animation: moveInTop;
    animation-duration: 1s;
    padding: 25px;
    min-height: 50px;
    width: 90%;
    border-radius: 20px;
    border: 2px solid orange;
    font-size: 14px;
    font-weight: 300;

}

.form {
    background: url(../images/header.jpg) center (center / cover) no-repeat;
    margin-top: 30px;
    padding: 50px;
    text-align: center;

    input {
        padding: 10px 10px;
    }
}

.btn {
    padding: 10px 10px;
    position: relative;
    cursor: pointer;
    z-index: 3;
}

.btn::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #fff;
    transition: all .4s;
}

.btn:hover::after {
    transform: scale(2);
    opacity: 0;
}



.header_wrapper {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .header_link {
        margin-right: 15px;
        text-decoration: none;
        color: rgb(115, 115, 115);
        font-size: 20px;

        &:hover {
            color: rgb(230, 230, 230);
        }
    }

}